<ul class="hyvor_recent">
    {{ #filtered.data }}
    <li>
        <p>
            <a href="{{ link }}">{{{ date }}} {{ user }}<br>{{{ title }}}</a><br>
        </p>
    </li>
    {{ /filtered.data }}
</ul>