@use "./vars" as *;

// Default layout for menus drawn by template 'view/partial/menu.template.mustache'
// topBarMenu, mainMenu, dropdownMenu, bottomBarMenu

.topBarMenu,
.dropdownMenu,
.mainMenu,
.bottomBarMenu,
.customMenu1,
.customMenu2,
.customMenu3,
.customMenu4 {
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        ul {
            flex-direction: column;
        }
        li {
            list-style-type: none;
            display: inline-block;
            padding: 0 0.7em;
        }
    }

    @include desktop_down {
        ul {
            flex-direction: column;
        }
    }
}