<div class="sesamy-login">
    <sesamy-login [[#settings.login]]text="[[settings.login]]"[[/settings.login]] hide-logo variant="[[settings.variant]][[^settings.variant]]text[[/settings.variant]]" profile-href="[[settings.profile]][[^settings.profile]]/profile[[/settings.profile]]"></sesamy-login>
</div>